.SClient
	.container
		h2.SClient.Title-2 Наши клиенты

	.swiper-container.SClient-Slider
		.swiper-wrapper.no-gutters
			.swiper-slide.col-6.col-sm-4.col-md-3.col-xl-2
				a.CClient(href="#")
					header.CClient-Header: img.CClient-Logo(src="images/client/1.jpg" width="320" height="180" alt="")
					.CClient-Title ГК БЕЛАЯ ДОЛИНА (МЯСОКОМБИНАТ МИТЭК)

			.swiper-slide.col-6.col-sm-4.col-md-3.col-xl-2
				a.CClient(href="#")
					header.CClient-Header: img.CClient-Logo(src="images/client/2.jpg" width="320" height="180" alt="")
					.CClient-Title ЗАО АПК «БЕЛОРЕЧЕНСКИЙ»

			.swiper-slide.col-6.col-sm-4.col-md-3.col-xl-2
				a.CClient(href="#")
					header.CClient-Header: img.CClient-Logo(src="images/client/3.jpg" width="320" height="180" alt="")
					.CClient-Title ЗАО «ЗАВОД ПИЩЕВЫХ ИНГРЕДИЕНТОВ "ГАММИ"»

			.swiper-slide.col-6.col-sm-4.col-md-3.col-xl-2
				a.CClient(href="#")
					header.CClient-Header: img.CClient-Logo(src="images/client/4.jpg" width="320" height="180" alt="")
					.CClient-Title ОАО «ЭФКО»

			.swiper-slide.col-6.col-sm-4.col-md-3.col-xl-2
				a.CClient(href="#")
					header.CClient-Header: img.CClient-Logo(src="images/client/5.jpg" width="320" height="180" alt="")
					.CClient-Title ОАО «ХОЛДИНГОВАЯ КОМПАНИЯ АК БАРС»

			.swiper-slide.col-6.col-sm-4.col-md-3.col-xl-2
				a.CClient(href="#")
					header.CClient-Header: img.CClient-Logo(src="images/client/6.jpg" width="320" height="180" alt="")
					.CClient-Title ФЕДЕРАЛЬНОЕ АГЕНТСТВО ПО ГОСУДАРСТВЕННЫМ РЕЗЕРВАМ

			.swiper-slide.col-6.col-sm-4.col-md-3.col-xl-2
				a.CClient(href="#")
					header.CClient-Header: img.CClient-Logo(src="images/client/7.jpg" width="320" height="180" alt="")
					.CClient-Title ФГБОУ ВО «ЧЕЛЯБИНСКИЙ ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ»
	.swiper-pagination.SClient-Pagination.d-md-none