.SEdge
	.container
		h2.SEdge-Title.Title Преимущества работы с нами

	.container: .row.align-items-stretch
		.col-12.col-sm-6.col-lg-4.col-xxl
			.CEdge.d-sm-flex.d-lg-block
				.CEdge-Pr.d-flex.align-items-center.justify-content-center.before-delay-2: img.CEdge-Icon(src="images/edge/1.png")
				.CEdge-Body
					.CEdge-Title Низкие цены
					.CEdge-Desc Цены на все типовое оборудование размещены в каталоге. Дилерские скидки, скидки монтажным и проектным организациям.
		.col-12.col-sm-6.col-lg-4.col-xxl
			.CEdge.d-sm-flex.d-lg-block
				.CEdge-Pr.d-flex.align-items-center.justify-content-center.before-delay-3: img.CEdge-Icon(src="images/edge/2.png")
				.CEdge-Body
					.CEdge-Title Типовые решения
					.CEdge-Desc Накопленный опыт позволил нам разработать модификации оборудовании под нужды различных отраслей промышленности и сельского хозяйства. 
		.col-12.col-sm-6.col-lg-4.col-xxl
			.CEdge.d-sm-flex.d-lg-block
				.CEdge-Pr.d-flex.align-items-center.justify-content-center.before-delay-1: img.CEdge-Icon(src="images/edge/3.png")
				.CEdge-Body
					.CEdge-Title Уникальные решения
					.CEdge-Desc Разработаем оборудование специально для вас.  Срок изготовления изделий по техническому заданию заказчика – от 30 дней.
		.col-12.col-sm-6.col-lg-4.col-xxl
			.CEdge.d-sm-flex.d-lg-block
				.CEdge-Pr.d-flex.align-items-center.justify-content-center.before-delay-5: img.CEdge-Icon(src="images/edge/4.png")
				.CEdge-Body
					.CEdge-Title Информационная и техническая поддержка
					.CEdge-Desc Проанализируем ситуацию на вашем предприятии, поможем подобрать оборудование и расскажем, как лучше его внедрить.
		.col-12.col-sm-6.col-lg-4.col-xxl
			.CEdge.d-sm-flex.d-lg-block
				.CEdge-Pr.d-flex.align-items-center.justify-content-center.before-delay-4: img.CEdge-Icon(src="images/edge/5.png")
				.CEdge-Body
					.CEdge-Title Разумные сроки поставки оборудования
					.CEdge-Desc Озонаторы воздуха и увлажнители  в наличии на складе. Изготовление станций озонирования воды – от 20 дней. 