header.Header: .container-fluid: .row.align-items-center.justify-content-between.justify-content-lg-end.flex-nowrap
	.col-auto
		.Header-Label.Text-Gray бесплатный звонок по России
		.row.align-items-baseline.gutters-5
			.Header-Contact.col-auto
				.d-flex.align-items-center.no-gutters
					.Icon-Contact.fa.fa-phone.Text-Green.Header-Toggle
					.Text-Phone.Text-Dark2.d-sm-block 8-800-500-48-35

			.Header-Contact.col-auto.d-none.d-xl-block
				.d-flex.align-items-center.no-gutters
					.Icon-Contact.fa.fa-phone.Text-Green
					.Text-Contact.Text-Phone.Text-Dark2 8-343-351-05-53
			.Header-Contact.col-auto.d-none.d-xl-block
				.d-flex.align-items-center.no-gutters
					.Icon-Contact.fa.fa-phone.Text-Green
					.Text-Contact.Text-Phone.Text-Dark2 8-495-321-10-11

			.Header-Contact.col-auto
				.d-flex.align-items-center.no-gutters
					.Icon-Contact.fa.fa-clock-o.Text-Green.d-sm-none(data-toggle="tooltip" data-placement="bottom" title="пн-пт с 10:00 до 18:00 (8:00-16:00 московское время)")
					.Text-Schedule.Text-Gray.d-none.d-sm-block пн-пт с 10:00 до 18:00 (8:00-16:00 московское время)
			.Header-Contact.col-auto
				.d-flex.align-items-center.no-gutters
					.Icon-Contact.fa.fa-envelope.Text-Green.Header-Toggle
					.Text-Contact.Text-Green2.d-none.d-md-block otvet@ekonow.ru
	
	.col-auto
		a.Header-Button.Button.Button_Theme_Green.Button_Size_Md(href="#PopupOrder" data-fancybox)
			i.fa.fa-phone.d-lg-none
			span.d-none.d-lg-inline Заказать звонок