- random = Math.floor(Math.random() * (15 - 1300) + 1300);

.NavTopSub-Content: .NavTopSubContent
	
	.row
		.col-12.col-xl-6.NavTopSubContent-Col
			.NavTopSubContent-Title Сельское хозяйство #{random}

			ul.NavTopSubContent-List
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#a") Сокращение потерь овощей и фруктов
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#b") Обработка яиц в инкубаторах
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#c") Стимуляция роста растений
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#d") Продление сроков хранения мяса
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#r") Обработка воды на рыбных фермах

			.NavTopSubContent-Info Смотрите также, применение увлажнителей в 

				ul.NavTopSubContent-List
					li.NavTopSubContent-Item
						a.NavTopSubContent-Link(href="#q") Сельском хозяйстве