- random = Math.floor(Math.random() * (15 - 1300) + 1300);

.NavTopSub-Content: .NavTopSubContent
	.row
		.col-12.col-xl-6.NavTopSubContent-Col
			.NavTopSubContent-Title Промышленные озонаторы воздуха #{random}

			ul.NavTopSubContent-List
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Мобильные озонаторы воздуха ОЗ-А
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Настенные озонаторы воздуха ОЗ-А(Н)
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Канальные озонаторы воздуха ОЗ-А(К)

			ul.NavTopSubContent-List
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Все модели 
						span.NavTopSubContent-Count (32)
		.col-12.col-xl-6.NavTopSubContent-Col.d-none.d-xl-block
			.NavTopSubContent-Right
					img.NavTopSubContent-Pr.img-fluid(src="images/menu-serv.jpg")
					.NavTopSubContent-Info Мы постарались собрать общую информацию по предлагаемым технологиям 
					ul.NavTopSubContent-List
						li.NavTopSubContent-Item
							a.NavTopSubContent-Link(href="#") Мобильные озонаторы воздуха ОЗ-А
						li.NavTopSubContent-Item
							a.NavTopSubContent-Link(href="#") Настенные озонаторы воздуха ОЗ-А(Н)
						li.NavTopSubContent-Item
							a.NavTopSubContent-Link(href="#") Канальные озонаторы воздуха ОЗ-А(К)

