- random = Math.floor(Math.random() * (15 - 1300) + 1300);

.NavTopSub-Content: .NavTopSubContent
	.row
		.col-12.col-xl-6.NavTopSubContent-Col
			.NavTopSubContent-Title Гарантийное обслуживание #{random}

			.NavTopSubContent-Info Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 

			ul.NavTopSubContent-List
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Мобильные озонаторы воздуха ОЗ-А
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Настенные озонаторы воздуха ОЗ-А(Н)
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Канальные озонаторы воздуха ОЗ-А(К)

			ul.NavTopSubContent-List
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Подробнее 
						i.fa.fa-angle-right

		.col-12.col-xl-6.NavTopSubContent-Col.d-none.d-xl-block
			img.NavTopSubContent-Pr.img-fluid(src="images/menu-serv.jpg")