- random = Math.floor(Math.random() * (15 - 1300) + 1300);
.NavTop-Sub: .NavTopSub
	a.NavTopSub-Title(href="#") Оборудование озонаторное #{random}
	ul.NavTopSub-List
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Сельское хозяйство
			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#")  Пищевое производство

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#")  HORECA

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#")  Очистка воды и стоков

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#")  Бассейны

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#")  Склады

	a.NavTopSub-Title(href="#") Системы увлажнения
	ul.NavTopSub-List
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Сельское хозяйство

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Пищевое производство

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") HORECA

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Промышленное производство

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Типографии и покрасочные камеры

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Архивы и склады

			include nav-top-sub-use-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Климатические камеры

			include nav-top-sub-use-content