- random = Math.floor(Math.random() * (15 - 1300) + 1300);

.NavTopSub-Content: .NavTopSubContent
	
	.row
		.col-12.col-xl-6.NavTopSubContent-Col
			.NavTopSubContent-Title Сельское хозяйство #{random}

			ul.NavTopSubContent-List
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Сокращение потерь овощей и фруктов
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Обработка яиц в инкубаторах
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Стимуляция роста растений
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Продление сроков хранения мяса
				li.NavTopSubContent-Item
					a.NavTopSubContent-Link(href="#") Обработка воды на рыбных фермах

			.NavTopSubContent-Info Смотрите также, применение увлажнителей в 

				ul.NavTopSubContent-List
					li.NavTopSubContent-Item
						a.NavTopSubContent-Link(href="#") Сельском хозяйстве