- random = Math.floor(Math.random() * (15 - 1300) + 1300);
.NavTop-Sub: .NavTopSub
	.NavTopSub-Title Оборудование озонаторное #{random}
	ul.NavTopSub-List
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Промышленные озонаторы воздуха
			include nav-top-sub-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Промышленные озонаторы воды
			include nav-top-sub-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Универсальные озонаторы
			include nav-top-sub-content

	.NavTopSub-Title Системы увлажнения воздуха
	ul.NavTopSub-List
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Промышленные ультразвуковые увлажнители
			include nav-top-sub-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Туманообразователи высокого давления
			include nav-top-sub-content
				
	.NavTopSub-Title Контрольно-измерительные приборы 
	.NavTopSub-Title Запчасти и комплектующие