- random = Math.floor(Math.random() * (15 - 1300) + 1300);
.NavTop-Sub: .NavTopSub
	a.NavTopSub-Title(href="#") Оборудование озонаторное #{random}
	ul.NavTopSub-List
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Промышленные озонаторы воздуха
			include nav-top-sub-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Промышленные озонаторы воды
			include nav-top-sub-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Универсальные озонаторы
			include nav-top-sub-content

	a.NavTopSub-Title(href="#") Системы увлажнения воздуха
	ul.NavTopSub-List
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Промышленные ультразвуковые увлажнители
			include nav-top-sub-content
		li.NavTopSub-Item
			a.NavTopSub-Link(href="#") Туманообразователи высокого давления
			include nav-top-sub-content
				
	a.NavTopSub-Title(href="#") Контрольно-измерительные приборы 
	a.NavTopSub-Title(href="#") Запчасти и комплектующие