.Nav
	.container-fluid: .row.align-items-center.justify-content-between.justify-content-lg-start.flex-nowrap
		.col-auto
			a(href="#"): img.Nav-Logo(src="images/logo.png" width="140" height="42" alt="")
		.col-auto.d-none.d-lg-block
			nav.NavTop
				ul.NavTop-List
					li.NavTop-Item
						a.NavTop-Link(href="#") Каталог продукции
						include nav-top-sub
					li.NavTop-Item
						a.NavTop-Link(href="#") Применение
						include nav-top-sub
					li.NavTop-Item
						a.NavTop-Link(href="#") Технологии
						include nav-top-sub
					li.NavTop-Item
						a.NavTop-Link(href="#") Сервисное обслуживание
						include nav-top-sub
					li.NavTop-Item
						a.NavTop-Link(href="#") О компании
						include nav-top-sub
		.col-auto.d-lg-none
			button.Button.Nav-Burger
				svg(width="36" height="24" viewbox="0 0 36 24")
					path(d="M 0 0 36 0 36 4 0 4 Z M 0 10 36 10 36 14 0 14 Z M 0 20 36 20 36 24 0 24 Z")
.NavMobile
	.NavMobile-Container.d-flex.flex-nowrap
		.NavMobile-Level
		.NavMobile-Level
			button.NavMobile-Back.Link: .fa.fa-chevron-left
		.NavMobile-Level
			button.NavMobile-Back.Link: .fa.fa-chevron-left
	button.NavMobile-Close: .fa.fa-chevron-up