.SMainProduct-Slider.swiper-container
	button.SMainProduct-Prev.Button.Button_Theme_GrayBlue.Button_Size_Sm: i.fa.fa-chevron-left
	button.SMainProduct-Next.Button.Button_Theme_GrayBlue.Button_Size_Sm: i.fa.fa-chevron-right
	.swiper-wrapper
		.swiper-slide
			.row.justify-content-center.justify-content-lg-start.align-items-lg-center.justify-content-xxl-center
				.col-12.col-md-10.col-lg-4.col-xxl-4
					img.SMainProduct-Pr.img-fluid(src="images/mainproduct/1.png")
				.col-12.col-md-10.col-lg-8.col-xxl-7
					h1.SMainProduct-Title Промышленные озонаторы воздуха 

					.SMainProduct-Cat.d-flex.align-items-center.justify-content-center.justify-content-lg-start: ul.ListCat.d-md-flex.flex-wrap.gutters-10
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Мобильные
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Настенные
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Канальные

					.row.gutters-5.SMainProduct-Buttons
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") Подробнее 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") каталог 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") опросный лист 
								i.fa.fa-chevron-right
						.col-12
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Заказать звонок
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Оставить заявку
		
		.swiper-slide
			.row.justify-content-center.justify-content-lg-start.align-items-lg-center.justify-content-xxl-center
				.col-12.col-md-10.col-lg-4.col-xxl-4
					img.SMainProduct-Pr.img-fluid(src="images/mainproduct/2.png")
				.col-12.col-md-10.col-lg-8.col-xxl-7
					h1.SMainProduct-Title Промышленные озонаторы воды 

					.SMainProduct-Cat.d-flex.align-items-center.justify-content-center.justify-content-lg-start: ul.ListCat.d-md-flex.flex-wrap.gutters-10
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Стандартные модели  
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Для пищевых производств
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Для розлива воды
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Для обезжелезивания
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Для бассейнов
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Для коттеджей

					.row.gutters-5.SMainProduct-Buttons
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") Подробнее 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") каталог 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") опросный лист 
								i.fa.fa-chevron-right
						.col-12
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Заказать звонок
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Оставить заявку
		
		.swiper-slide
			.row.justify-content-center.justify-content-lg-start.align-items-lg-center.justify-content-xxl-center
				.col-12.col-md-10.col-lg-4.col-xxl-4
					img.SMainProduct-Pr.img-fluid(src="images/mainproduct/3.png")
				.col-12.col-md-10.col-lg-8.col-xxl-7
					h1.SMainProduct-Title Промышленные ультразвуковые увлажнители воздуха 

					.SMainProduct-Cat.d-flex.align-items-center.justify-content-center.justify-content-lg-start: ul.ListCat.d-md-flex.flex-wrap.gutters-10
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Стандартные модели
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Канальные
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Автономные (без подключения к водопроводу)

					.row.gutters-5.SMainProduct-Buttons
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") Подробнее 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") каталог 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") опросный лист 
								i.fa.fa-chevron-right
						.col-12
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Заказать звонок
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Оставить заявку
		
		.swiper-slide
			.row.justify-content-center.justify-content-lg-start.align-items-lg-center.justify-content-xxl-center
				.col-12.col-md-10.col-lg-4.col-xxl-4
					img.SMainProduct-Pr.img-fluid(src="images/mainproduct/4.png")
				.col-12.col-md-10.col-lg-8.col-xxl-7
					h1.SMainProduct-Title Туманообразователи высокого давления

					.SMainProduct-Cat.d-flex.align-items-center.justify-content-center.justify-content-lg-start: ul.ListCat.d-md-flex.flex-wrap.gutters-10
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Стандартные модели
						li.ListCat-Item.col-auto
							a.ListCat-Link(href="#") Канальные

					.row.gutters-5.SMainProduct-Buttons
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") Подробнее 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") каталог 
								i.fa.fa-chevron-right
						.col-12.col-md-4
							a.SMainProduct-Button.Button.Button_Theme_Blue.Button_Size_Sm(href="#") опросный лист 
								i.fa.fa-chevron-right
						.col-12
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Заказать звонок
						.col-12.col-md-6
							a.SMainProduct-Button.Button.Button_Theme_Green.Button_Size_Md(href="#") Оставить заявку