.SWorks
	.container
		h2.SWorks-Title.Title-2 Как мы работаем


	.row.align-items-stretch.no-gutters.align-items-xl-stretch
		.col-12.col-xl-3
			.CWork.bg-work-1.d-sm-flex.align-items-sm-center.justify-content-center.align-items-xl-start: .container-fluid: .row.flex-column.flex-sm-row.align-items-sm-center.flex-xl-column
				.col-12.col-sm-3.col-xl-12
					.CWork-Pr.bg-work-4.d-flex.align-items-center.justify-content-center: img.CWork-Icon(src="images/work/1.png")
				.col-12.col-sm-9.col-xl-12
					.CWork-Desc Проанализируем ситуацию на вашем предприятии. Произведем все необходимые расчеты и предложим варианты решения поставленных задач.
		.col-12.col-xl-3
			.CWork.bg-work-2.d-sm-flex.align-items-sm-center.justify-content-center.align-items-xl-start: .container-fluid: .row.flex-column.flex-sm-row.align-items-sm-center.flex-xl-column
				.col-12.col-sm-3.col-xl-12
					.CWork-Pr.bg-work-3.d-flex.align-items-center.justify-content-center: img.CWork-Icon(src="images/work/2.png")
				.col-12.col-sm-9.col-xl-12
					.CWork-Desc Подберем оборудование. Предложим один из типовых вариантов или же разработаем оборудование специально для вас.
		.col-12.col-xl-3
			.CWork.bg-work-3.d-sm-flex.align-items-sm-center.justify-content-center.align-items-xl-start: .container-fluid: .row.flex-column.flex-sm-row.align-items-sm-center.flex-xl-column
				.col-12.col-sm-3.col-xl-12
					.CWork-Pr.bg-work-2.d-flex.align-items-center.justify-content-center: img.CWork-Icon(src="images/work/3.png")
				.col-12.col-sm-9.col-xl-12
					.CWork-Desc Подготовим технико-коммерческое предложение. С обоснованием предлагаемого оборудования, указанием конечной стоимости и сроков поставки.
		.col-12.col-xl-3
			.CWork.bg-work-4.d-sm-flex.align-items-sm-center.justify-content-center.align-items-xl-start: .container-fluid: .row.flex-column.flex-sm-row.align-items-sm-center.flex-xl-column
				.col-12.col-sm-3.col-xl-12
					.CWork-Pr.bg-work-1.d-flex.align-items-center.justify-content-center: img.CWork-Icon(src="images/work/4.png")
				.col-12.col-sm-9.col-xl-12
					.CWork-Desc Заключим договор на поставку.
