.Bottom {
	background #e5e5e5
	text-align center
	padding-top 12px
	padding-bottom 12px
	
	&-Text {
		margin-bottom 12px 
		font-size 12px
		color #7f7f7f		
	
		@media (min-width: $breakpoint-sm) {
			margin 0
		}
	}
	
	&-Dev {
		display block
		margin auto
	}
}