
.SEdge {
	padding 50px 0 25px
	
	@media (min-width $breakpoint-xxl) {
		padding 100px 0 50px
	}
	
	&-Title {
		margin-bottom 20px 
		
		@media (min-width $breakpoint-sm) {
			margin-bottom 35px 
		}
		
		@media (min-width $breakpoint-xl) {
			margin-bottom 70px 
		}
	}
}

.CEdge {
	text-align center
	padding-bottom 25px
	
	@media (min-width $breakpoint-sm) {
		text-align left
	}
	
	@media (min-width $breakpoint-lg) {
		padding-bottom 50px 
	}
	
	&-Pr {
		position relative
		user-select none
		width 60px
		height 60px
		border-radius 50%
		background #69bc45
		margin 0 auto 20px
		
		@media (min-width $breakpoint-sm) {
			margin 0
			margin-right 15px
			flex none  
		}
		
		@media (min-width: $breakpoint-md) {
			margin-right 25px 
		}
		
		@media (min-width $breakpoint-lg) {
			margin 0 0 25px
			width 120px 
			height 120px 
		}
		
		&::before {
			position absolute
			top 0
			left 0
			z-index -1 
			width 100%
			height 100%
			content ''
			display block
			background #69BC45 
			border-radius 50%
			// transform scale(1.5)
			animation circle 2.5s infinite
		}
	}
	
	&-Icon {
		width 50% 
		height auto
	}
	
	&-Title {
		font-size 15px 
		font-weight 600
		margin-bottom 5px 
		
		@media (min-width: $breakpoint-sm) {
			font-size 13px 
		}
		
		@media (min-width $breakpoint-lg) {
			margin-bottom 15px 
			font-size 18px 
		}
		
		&::after {
			fa()
			content '\f078'
			display inline-block
			margin-left 8px 
			font-size 9px 
			
			@media (min-width $breakpoint-sm) {
				display none
			}
		}
		
		&.open::after {
			content '\f077'
		}
	}
	
	&-Desc {
		display none
		font-size 13px 
		line-height 1.5 
		color #666
		
		@media (min-width $breakpoint-sm) {
			display block
			font-size 11px 
		}
		
		@media (min-width $breakpoint-lg) {
			font-size 14px 
		}
	}
}


.before-delay-1::before {
	animation-delay 0.5s
}

.before-delay-2::before {
	animation-delay 1s
}

.before-delay-3::before {
	animation-delay 1.5s
}

.before-delay-4::before {
	animation-delay 2s
}

.before-delay-5::before {
	animation-delay 2.5s
}

@keyframes circle {
	from {
		transform scale(1);
		opacity: 0.2
	}
	
	50% {
		transform scale(1.8)
		opacity 0.1
	}
	
	to {
		transform scale(1);
		opacity: 0.2
	}
}