.Foo {
	padding-top 40px
	padding-bottom 10px
	background #f1f1f1 
	
	&-Logo {
		height auto
		
		@media (min-width $breakpoint-lg) {
			width: 170px
			margin-bottom 24px 
		}
		
		@media (min-width $breakpoint-xl) {
			width 185px
		}
	}
	
	&-Address {
		color #666
		font-size 13px 
		line-height 1.4 
		letter-spacing 0.01em 
		max-width 185px 
		margin-bottom 7px 
	}
	
	&-Col {
		@media (min-width: $breakpoint-lg) {
			margin-bottom 15px 
		}
		
		@media (min-width $breakpoint-xl) {
			flex: 0 20% auto;
			width: 21%;
			max-width: 21%
			
			&:first-child {
				width 20%
				max-width: 20% 
			}
			
			&:last-child {
				max-width 17%
			}
		}
		
	}
	
	&-Title {
		display flex
		align-items center
		justify-content space-between
		margin 10px 0
		line-height 1
		font-size 12px 
		font-weight 600 
		text-transform uppercase
		color $dark-2
		
		@media (min-width $breakpoint-md) {
			font-size 13px 
			margin 10px 0 20px
		}
		
		&::after {
			display block
			margin-left 15px
			flex none
			text-align center
			content: '\f078'
			
			fa()
		}
		
		&_Active::after {
			color $blue
			transform: rotate(180deg)
		}
		
		@media (min-width $breakpoint-lg) {
			display block
			height 3em
			max-width: 300px
			
			&::after {
				display none
			}
		}
		
		@media (min-width $breakpoint-xl) {
			font-size 14px 
		}
		
		@media (min-width 1360px) {
			font-size 16px 
		}
	}
}